<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<br><br><br>


<div class="d-flex justify-content-center" *ngIf="loading==true">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="d-flex justify-content-center">
    <p-card header="Assignment" subheader="details" [style]="{width: '360px'}" styleClass="p-card-shadow" *ngIf="assignmentTransmis">
        <ng-template pTemplate="header">

        </ng-template>
        <h3> {{assignmentTransmis.nom}}

            <div class="badge badge-light-success fw-bolder" *ngIf="assignmentTransmis.rendu ===true">rendu</div>
            <div class="badge badge-light-warning fw-bolder" *ngIf="assignmentTransmis.rendu ===false">en attente</div>

        </h3>
        <h4>{{assignmentTransmis?.dateDeRendu | date}}
        </h4>
        <ng-template pTemplate="footer">
            <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
                Rendu
            </mat-checkbox>

            <button mat-raised-button color="primary" [disabled]="!isAdmin()" (click)="onClickEdit()">EDIT</button>

            <button mat-flat-button color="warn" (click)="onDeleteAssignment()">DELETE</button>
        </ng-template>
    </p-card>
</div>